html, body, div, span {
    height: 100%;
    width: 100%;
    overflow: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: none no-repeat fixed center;
    background-size: cover;
}
.fa-2x {
    font-size: 1.5em;
}
.fa-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
}
.app-one {
    background-color: #fff!important;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.side {
    padding: 0;
    margin: 0;
    height: 100%}
.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}
.side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
}
.heading {
    padding: 10px 6px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #fff;
    z-index: 0;
}
.heading-avatar {
    padding: 0;
	min-width: 8%;
	vertical-align: middle;
    cursor: pointer;
}
.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.heading-name {
    padding: 0 !important;
	vertical-align: middle;
    cursor: pointer;
}
.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}
.heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}
.heading-compose {
    padding: 0;
}
.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}
.heading-dot {
	padding: 0;
	text-align:right;
	vertical-align:middle;
    margin-left: 10px;
}
.heading-dot i {
    text-align: center; 
    cursor: pointer;
}
.searchBox {
    padding: 0!important;
    margin: 0!important;
    height: 60px;
    width: 100%}
.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px!important;
    background-color: #fbfbfb;
}
.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.sideBar {
    padding: 0!important;
    margin: 0!important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}
.sideBar-body {
    position: relative;
    padding: 10px!important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0!important;
    cursor: pointer;
}
.sideBar-body:hover {
    background-color: #f2f2f2;
}
.sideBar-avatar {
    text-align: center;
    padding: 0!important;
}
.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}
.sideBar-main {
    padding: 0!important;
}
.sideBar-main .row {
    padding: 0!important;
    margin: 0!important;
}
.sideBar-name {
    padding: 10px!important;
}
.name-meta {
    font-size: 100%;
    padding: 1%!important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.sideBar-time {
    padding: 10px!important;
}
.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1%!important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}
.newMessage {
    padding: 0!important;
    margin: 0!important;
    height: 100%;
    position: relative;
    left: -100%}
.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0!important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}
.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0!important;
    height: 60px;
    margin-top: 30px!important;
    width: 100%;
    z-index: 1001;
    color: #fff;
}
.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px!important;
}
.newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px!important;
    display: block;
    cursor: pointer;
}
.newMessage-back i {
    margin: auto!important;
}
.composeBox {
    padding: 0!important;
    margin: 0!important;
    height: 60px;
    width: 100%}
.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px!important;
    background-color: #fbfbfb;
}
.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.compose-sideBar {
    padding: 0!important;
    margin: 0!important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
}
.conversation {
    padding: 0!important;
    margin: 0!important;
    height: 100%;
    border-left: 1px solid #FFF;
    z-index: 0;
}
.message {
    padding: 0!important;
    margin: 0!important;
    background-color: #FFF;
    overflow-y: auto;
    z-index: 0;
    height: calc(100% - 120px);
}
.message-previous {
    margin: 0!important;
    padding: 0!important;
    height: auto;
    width: 100%}
.parent {
    text-align: center!important;
}
.message-guest {
    margin: 0!important; 
	white-space: normal !important;
    padding: 0!important;
    height: auto;
    width: 100%;
    margin-top: 10%!important;
}
.guest {
    font-size: 12px;
    text-align: center;
    padding: 0!important;
    cursor: pointer;
}
.message-agents {
    margin: 0!important;
    padding: 0!important;
    height: auto;
    width: 100%}
.agents {
    font-size: 15px;
    text-align: center;
    padding: 10px!important;
    cursor: pointer;
}
.previous {
    font-size: 15px;
    text-align: center;
    padding: 10px!important;
    cursor: pointer;
}
.previous a {
    text-decoration: none;
    font-weight: 700;
}
.message-body {
    margin: 5px 0px 5px 0px !important;
    padding: 0!important;
    width: auto;
    height: auto;
}
.message-main-receiver {
    max-width: 90%;
	 margin-right: 10% !important;
}
.message-main-sender {
    padding: 3px 20px !important;
    margin-left: 10% !important;
    max-width: 90%
}

.message-text-receiver {
    color: #333;
}
.chat-agent-statement {
	display: none;
}
.message-text {
    margin: 0!important;
    padding: 5px!important;
    word-wrap: break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0!important;
}
.message-time {
    margin: 0!important;
    margin-left: 50px!important;
    font-size: 10px;
    text-align: right;
    color: #9a9a9a;
}
.receiver {
    width: auto!important;
    padding: 4px 10px 7px!important;
    border-radius: 10px 10px 10px 0;
    background: #f1f9f8;
    font-size: 12px;
    word-wrap: break-word;
    display: inline-block;
}
.sender {
    float: right;
    width: auto!important;
    background: #fbfeff;  
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px!important;
    font-size: 12px;
    display: inline-block;
    word-wrap: break-word;
}

/* reply emoticon button */
.reply {
    height: 60px;
    width: 100%;
    background-color: #fff;
    padding: 10px 5px!important;
    margin: 0!important;
    z-index: 1000;
}
.reply-emojis {
    padding: 5px 5px 5px 5px !important;
}
.reply-main {
	width:none !important;
	padding: 2px 0px !important; 
}  
.reply-send {
	float:right;
    padding: 5px 0px 5px 5px !important;
} 
.reply-send .round-buttons {
	float:right;
}

.reply-recording {
    padding: 5px !important;
}  
.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px!important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
}
.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.emojiContainer {
	height: 1px !important;
} 
.emojiCloser {
	margin-top:1px !important;
	padding-bottom:1px;
	border-bottom:0px solid #eee;
} 
.emojiButton {
	height: auto;
	padding-top:5px;
	margin: 4px 0px 10px 0px; 
	background-color: #ffffff;
	border-top: 1px solid #eee;
	border-bottom: 0px solid #ddd;
	border-right: 0px solid #ddd;
	border-left: 0px solid #ddd;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px; 
} 

/* button */
.round-buttons {
	border-radius: 100px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	padding: 0px;
	font-size: 16px;
	box-shadow: none;
	min-width: 0px;
}

.round-buttons {
	border: 1px solid transparent;
	background-color: transparent;
	color: #31B6F7;
} 
.round-buttons:hover {
	border: 1px solid transparent;
	background-color: #e1e1e1;
	color: #31B6F7
} 
.round-buttons:active {
	border: 1px solid transparent;
	background-color: #e1e1e1;
	color: #31B6F7;
}

.round-buttons:focus {
	border: 1px solid transparent;
	background-color: #e1e1e1;
	color: #31B6F7;
} 

.round-buttons {
	color: #31B6F7 !important
}

.round-buttons .fa {
	font-size: 18px !important;
}


/* =============== scroll style ================*/
/* Chrome 										*/
/* =============================================*/
.scroll-container::-webkit-scrollbar {
    width: 5px;
} 
.scroll-container::-webkit-scrollbar-track { 
	box-shadow: inset 0 0 5px grey; 
	border-radius: 15px;
}
.scroll-container::-webkit-scrollbar-thumb {
	background-color: #BBB3B3; 
	border-radius: 15px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
	background: #BBB3B3; 
}
/* IE */
.scroll-container {
	scrollbar-face-color: orange; 
	scrollbar-shadow-color: grey; 
	scrollbar-highlight-color: red;
} 
/* FireFox */
.scroll-container {
	scrollbar-color: #BBB3B3 #E6E6E6;
	scrollbar-width: thin;
}

/* normal */
.chat-front-form {
	margin-top: 10% !important;
}

.chat-front-logo {
	margin-top: -10px !important;
	border:0px solid #000; 
}
.chat-front-logo img {
	/* margin-right: 8%; */
	height:124px;
}
.chat-front-logo-tlg {
  margin-top: -2px !important;
  border: 0 solid #000;
}
.chat-front-logo-tlg img {
  height: 124px;
}

.form-login-container label[for=inputEmail]{
	margin-top:12px;
}  
.form-login-container button {
	width:100%;
} 

/* footer */
.form-footer-container {
	padding-top:1px;
	position:absolute;
	bottom:0px;
	height:24px;
	margin-left:1%;
	width:99%;
}
.form-footer-container span {
	margin-left:0%;
	font-size:12px;
	color:#ddd;
} 

/* ======================================================================================*/ 
/* CSS_UiImportant 																		 */
/* ======================================================================================*/
.ui-widget {
    font-family: Roboto, Arial, Helvetica !important;
}
.ui-widget-overlay {
    background-color: #000000 !important;
    opacity: .6 !important;
} 
/* Popup Menu */
.ui-menu{
    top: 0px;
    left: 0px;
    position: fixed !important;
    z-index: 99999999;
    min-width: 200px !important;
    box-sizing: border-box;
    padding: 5px 0px 5px 0px !important;
    border-radius: 5px !important;
    background-color: #fafafa;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px rgba(127, 127, 127, 0.25);
    color: #404040;
}
.ui-menu .ui-state-active{
    color: #404040 !important;
    background-color: #e8e8e8 !important;
    border-color: #CCCCCC !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
} 
.ui-menu .ui-menu-item {
    list-style-image: none !important;
}
.ui-menu .ui-menu-item-wrapper {
    padding-left: 0.6em !important;
}
.ui-menu-icons .ui-menu-item-wrapper {
    padding-left: 2em !important;
}
.ui-menu .ui-icon {
    left: 0.6em !important;
    font-size: 14px !important;
    line-height: 14px !important;
    height: 16px !important;
    width: 16px !important;
    text-align: center !important;
} 
.ui-dialog{
    position: fixed !important; 
    padding: 2px !important;  
} 
.ui-dialog .ui-dialog-content {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    width: 100% !important;
    padding: 0 !important;
} 
.no-close .ui-dialog-titlebar-close {
    display: none
} 
.ui-button{
    min-width: unset !important;
    min-height: unset !important;
} 
.ui-widget-header {
    border: 1px solid transparent !important;
    color: #222222 !important;
    font-family: Roboto, Arial, Helvetica !important;
    font-size: 17px !important;
    font-weight: normal !important;
}
.ui-icon-closethick:before {
    content: "\f00d"; /* Close */
    font-family: FontAwesome;
    display: block;
    font-size: 15px;
}
.ui-icon {
    text-indent:0px !important;
}
.ui-dialog .ui-widget-header .ui-state-default, 
.ui-dialog .ui-widget-header .ui-button {
    border: 1px solid transparent !important;
    background: transparent !important;
    font-weight: normal !important;
    color: #222222;
} 
.ui-dialog .ui-widget-header .ui-state-default, 
.ui-dialog  .ui-widget-header .ui-button:hover {
    color: #fff !important;
    font-weight: normal !important;
}
.ui-dialog .ui-widget-header .ui-state-active, 
.ui-dialog .ui-widget-header .ui-button:active { 
    font-weight: normal !important;
    color: #fff !important;
}
.ui-menu .ui-widget-header{
    font-size: 14px !important;
    cursor: unset !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: none !important;
}
.ui-widget-header .ui-icon {
    background-image: none !important;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, 
.ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: none !important;
}
.ui-state-active .ui-icon,.ui-button:active .ui-icon {
    background-image: none !important;
}
.ui-state-highlight .ui-icon, .ui-button 
.ui-state-highlight.ui-icon {
    background-image: none !important;
}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
    background-image: none !important;
}
.ui-button .ui-icon {
    background-image: none !important;
} 

/* new context */ 
.ui-menu {
  color: #195e5e !important;
  background-color: #fff !important;
  box-shadow: 0 0 10px rgba(106, 149, 174, 0.25) !important;
}
.ui-menu-item-wrapper span.ui-icon{
	color: #31B6F7 !important;
}
.ui-dialog-titlebar i.fa, span.ui-button-icon {
	color: #31B6F7 !important;
}   
.ui-dialog .ui-widget-header .ui-state-default, 
.ui-dialog  .ui-widget-header .ui-button:hover {
	border-color: 1px solid #ddd !important;
	background-color: #e1e1e1 !important;
} 
.ui-widget-header {
	background-color: #ffffff !important;
}

.ui-dialog .ui-dialog-titlebar{
	padding-left: .5em !important;
}
.ui-dialog-buttonset {
	text-align: right !important;
}
.ui-dialog-buttonset button{
	padding:3px 10px 3px 10px;
	margin-right:2px !important;
	margin-left:4px !important; 
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	background: #fbfbfb;
	font-weight: normal; 
}
.ui-dialog-buttonset button:hover {
	background: #f6f6f6;
	border: 1px solid #c5c5c5;
}

/* ------------------------------------------------------------------*/
/* Style: Dictate 													 */
/* ------------------------------------------------------------------*/
.menudictate {
	height:45px; padding:4px 4px 8px 2px; border-top:1px solid #eee;  border-bottom:0px solid #eee;
}
table.dictateTableContainer {
	width: 100%;
}
table.dictateTableContainer td {
	padding:2px 1px 2px 2px; vertical-align:middle;  
}
table.dictateTableContainer td.dictateButtonContainer {
	width:10%; text-align:center;
}
table.dictateTableContainer td.dictateTextContainer {
	color: #9a9a9a; font-size:12px; width:90%; text-align:left; 
}
td.dictateTextContainer i.fa {
	margin-left:2px; vertical-align:text-bottom; 
}
td.dictateTextContainer span.dictateInfoContainer { 
	margin-left:2px;
} 

/* ------------------------------------------------------------------*/
/* Style: Complete OR Close 										 */
/* ------------------------------------------------------------------*/
.messageCompleteCover {
	width: 90%; border: 1px solid #eee; border-radius:10px 10px 10px 0;
    background-color: #fff; padding: 10px !important;
	margin-top: 10px !important; margin-left: 14px !important;  
}
.messageCompleteCover table.messageCompleteContainer {
	border:0px; vertical-align:middle; color: #a9a0a0;
}
table.messageCompleteContainer td.messageCompleteIcon {  
	vertical-align:middle;
}
table.messageCompleteContainer td.messageCompleteText { 
	padding:4px; vertical-align:middle;
}
table.messageCompleteContainer div.messageCompleteTextContainer { 
	font-style:italic; font-size: 14px; vertical-align:middle; 
}

/* ------------------------------------------------------------------*/
/* Style: Leave Message 											 */
/* ------------------------------------------------------------------*/
.coverLeaveMessage {
	border:0px solid #ddd; margin:10px 2px 2px 2px;  width:99%; height:auto;
} 
.coverLeaveMessage p.titleLeaveMessage{
	font-size:1.5em; font-weight:bold;
}
.coverLeaveMessage table.tableLeaveMessage{
	margin-top:20px; text-align:center; width:90%;
} 
.coverLeaveMessage table.tableLeaveMessage td.labelLeaveMessage {
	text-align:center; font-size:.9em; font-weight:bold; padding:4px 2px 4px 2px;
}
.coverLeaveMessage table.tableLeaveMessage td.fieldLeaveMessage{
	text-align:center;
}
.coverLeaveMessage table.tableLeaveMessage td.fieldLeaveMessage input{
	padding:10px; margin-top:5px; margin-bottom:5px; border-radius:10px; 
}
.coverLeaveMessage table.tableLeaveMessage td.fieldLeaveMessage textarea{
	width:100%; border:1px solid #ccc; border-radius:10px;
	height:110px; padding:5px; margin-top:5px; margin-bottom:5px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075); 
} 
td.fieldLeaveMessage button.btnLeaveMessage {
	padding:10px; width:100%; border-radius:10px;
} 
td.fieldLeaveMessage textarea:-moz-placeholder, /* Firefox 18- */
td.fieldLeaveMessage textarea::-moz-placeholder, /* Firefox 19+ */
td.fieldLeaveMessage textarea:-ms-input-placeholder, /* IE 10+ */
td.fieldLeaveMessage textarea::-webkit-input-placeholder, /* Webkit based */
td.fieldLeaveMessage textarea::placeholder { /* Modern browsers */
  vertical-align:center; text-align:center;
} 

/* ------------------------------------------------------------------*/
/* Style: Take Photo 												 */
/* ------------------------------------------------------------------*/
.menurollphoto {
	top: 39%;
	position: fixed;
	height: auto; 
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px;
	border-left: 0px solid #eee; 
	border-right : 0px solid #eee;
	border-top: 0px solid #eee; 
	border-bottom : 0px solid #eee; 
	padding: 5px 5px 10px 5px;  
	text-align: center; 
	background-color: #fff;
	
} 
.menurollphoto .takeCoverHeaderContent {
	height:20px; 
	text-align:right; 
	padding-bottom:4px; 
	padding-right:0px;
}
.menurollphoto .takeCoverBodyContent {
	background-color:#000; 
	margin-bottom:1%;  
	border-radius:5px;
	height:200px;
}

.menurollphoto .takeCoverBodyContent video {
	min-width: 100%; 
	max-height: 100%;
	padding:0px;  
	border-radius:0px; 
	background-size: cover; 
} 

.menurollphoto .takeCoverBodyContent img {
	/* min-width: 100%;  */
	/* max-height: 100%; */
	max-height:200px;
	padding:0px;  
	border-radius:0px; 
	background-size: cover; 
} 

.menurollphoto .takeCoverButtonContent {
	border-top:0px solid #eee;
	padding-top:8px;
	text-align:left;
}

/* max media 400 */
@media screen and (max-width: 400px) { 
	
	.reply-send {
		padding: 5px 5px 5px 0px !important;
	}
	
	.form-login-container label[for=inputEmail]{
		margin-top:auto;
	}  
	.form-footer-container span {
		margin-left:5% !important;	
	}
	.chat-front-form {
		margin-top: -3% !important;
	} 
	.chat-front-logo img {
		margin-right: 1% !important;
		height:124px;
	}  
	
} 
/* wallpaper background settings */
.wallpaperBackground {
	border-top:1px solid #eee !important;
	background-image: url(../images/8c98994518b575bfd8c949e91d20548b.webp);
	background-size: 60% 50%;
} 

/* preview upload */
.menupreview {
	border-top:1px solid #eee;
	margin: 10px 10px 10px 0px;
	display: flex;
	border: 0px solid #fff;
	text-align: center;
	padding: 5px 5px 5px 5px;
	height:auto;
}
.menupreview table.menuPreviewCover {
	width: 92%;
	border: 0px solid #fff;
	margin-left:0px;
}
table.menuPreviewCover td.tdMenuPreviewButton{
	width: 10px;
	text-align: center;
} 
table.menuPreviewCover td.tdMenuPreviewContent{
	padding-left: 2px;
	padding-right: 5px;
	text-align: left;
} 
 
.filePreviewCover {
	background-color: #fbfeff;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 12px 5px 12px 10px;
	
}
.filePreviewCover table{
	width: 100%;
}

table.previewContainer span.filePreviewDotted{
	font-weight: bold;
	padding: 0px;
	margin-left: 3px;
	margin-right: -2px;
	display: inline list-item;
}

table.previewContainer td.filePreviewIcon, 
table.previewContainer td.filePreviewFile { 
	color:#666666;
}
table.previewContainer td.filePreviewSize{
	font-size: 11px; 
	color: #aca5a5;
}

/*! Content message file */
.fileOurMessage {
	border: 1px solid #eee;
	background-color: #e3e6e1;
}
.fileTheirMessage {
	border: 1px solid #eee;
	background-color: #d4dfde;
} 
.fileMessageCover {
	margin-top:5px; 
	border-radius: 5px;
	padding: 12px 10px 12px 10px; 
} 
.fileMessageCover table{
	width: 100%;
} 

.fileMessageCover td.tdMessagePreview{
	text-align:center;
}
.fileMessageCover img.fileStreamPreview {
	width:100%;
	margin:5px 0px 5px 1px;
	box-shadow: 0 0 10px rgba(4, 20, 30, 0.25);
	border-radius:3px;
}
.fileMessageCover audio.fileStreamPreview {
	height: 35px;
	width:100%;
	border-radius: 5px;
	margin: 5px 5px 5px 1px;  
}
.fileMessageCover video.fileStreamPreview { 
	width:100%;
	border-radius: 5px;
	margin: 5px 5px 5px 1px;  
	box-shadow: 0 0 10px rgba(4, 20, 30, 0.25);
}

table.fileMessageContainer span.fileMessageDotted{
	font-weight: bold;
	padding: 0px;
	margin-left: 3px;
	margin-right: -2px;
	display: inline list-item;
} 

table.fileMessageContainer td.fileMessageIcon, 
table.fileMessageContainer td.fileSenderName { 
	color:#666666;
}
table.fileMessageContainer td.fileMessageName {
	word-break: break-all;
} 
table.fileMessageContainer td.fileSenderSize{
	font-size: 11px; 
	color: #979fa6;
} 

table.fileMessageContainer td.fileMessageMenu {
	padding-left:3px;
	padding-right:12px;
}
table.fileMessageContainer span.fileMessageDropdown {
  color: #31B6F7;
  background-color: rgba(255, 255, 255, 0.8);
} 
table.fileMessageContainer span.fileMessageDropdown {
	top: 15px;
	cursor: pointer;
	position: absolute;
	/* right: 35px; */
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
} 
/*! our:menu dropdown on all message */
table.senderMessageContainer td.senderMessageMenu {
	padding-left:3px;
	padding-right:14px;
}
table.senderMessageContainer span.senderMessageDropdown {
  color: #31B6F7;
  background-color: rgba(255, 255, 255, 0.8);
}
table.senderMessageContainer span.senderMessageDropdown {
	top: 9px;
	cursor: pointer;
	position: absolute;
	/* right: 35px; */
	width: 20px;
	height: 20px;
	line-height: 20px; 
	text-align: center;
	background-color: rgba(238, 231, 231, 0.8);
	border-radius: 50px;
}

/*! their:menu dropdown on all message */
table.receiverMessageContainer td.receiverMessageMenu {
	padding-left:3px;
	padding-right:14px;
}
table.receiverMessageContainer span.receiverMessageDropdown {
  color: #31B6F7;
  background-color: rgba(255, 255, 255, 0.8);
}
table.receiverMessageContainer span.receiverMessageDropdown {
	top: 6px;
	cursor: pointer;
	position: absolute;
	/* right: 35px; */
	width: 20px;
	height: 20px;
	line-height: 20px; 
	text-align: center;
	background-color: rgba(238, 231, 231, 0.8);
	border-radius: 50px;
}

/* blocking */
.blockUI span.contentBlockingUI {
	font-size: 0.5em;
	margin-left:15px;
}
/* max media 500 */
@media screen and (max-width: 500px) {
	
	.form-login-container label[for=inputEmail]{
		margin-top:auto;
	}   	
	.form-footer-container span {
		margin-left:5%;	
	} 
	/*
	.chat-front-logo-tlg img{
		height:124px;
		margin-right: 1% !important;
		-webkit-filter: hue-rotate(12.148rad); 
		filter: hue-rotate(12.148rad);
	} */
	.chat-front-logo img {
		height:124px;
		margin-right: 1% !important;
		-webkit-filter: hue-rotate(12.148rad); 
		filter: hue-rotate(12.148rad);
	}
	.reply-send {
		padding: 5px 5px 5px 0px !important;
	}
	
}


@media (min-width: 768px) {
	.col-sm-9 {width: 82% !important; }
}


/* max media 700 */
@media screen and (max-width: 700px) {
	.heading-name-meta {
		display: block!important;
	}
	.heading-online {
		position: absolute!important;
		top: 15%!important;
		left: 40%!important;
		padding: 0!important;
	}
	.app {
		top: 0;
		height: 100%}
	.heading {
		background-color: #FFF;
	}
	.fa-2x {
		font-size: 2.3em!important;
	}
	.heading-avatar {
		padding: 0!important;
		width: 12%!important;
	}
	.heading-avatar-icon img {
		height: 32px;
		width: 32px;
	}
	.heading-compose {
		padding: 5px!important;
	}
	.heading-compose i {
		color: #93918f;
		cursor: pointer;
	}
	.heading-dot {
		padding: 0!important;
		margin-left: 10px!important;
		font-size: 11px!important;
	}
	.heading-dot i { 
		cursor: pointer;
	}
	.sideBar {
		height: calc(100% - 130px);
	}
	.sideBar-body {
		height: 80px;
	}
	.message-info {
		color: #cab6b6!important;
		margin: 0!important;
		text-align: center!important;
	}
	.sideBar-avatar {
		text-align: center;
		padding: 0 8px!important;
	}
	.avatar-icon img {
		height: 55px;
		width: 55px;
	}
	.sideBar-main {
		padding: 0!important;
	}
	.sideBar-main .row {
		padding: 0!important;
		margin: 0!important;
	}
	.sideBar-name {
		padding: 10px 5px!important;
	}
	.name-meta {
		font-size: 16px;
		padding: 5%!important;
	}
	.sideBar-time {
		padding: 10px!important;
	}
	.time-meta {
		text-align: right;
		font-size: 14px;
		padding: 4%!important;
		color: rgba(0, 0, 0, .4);
		vertical-align: baseline;
	}
	.conversation {
		padding: 0!important;
		margin: 0!important;
		height: 100%;
		border-left: 0 solid rgba(0, 0, 0, .08);
	}
	.message {
		height: calc(100% - 140px);
	} 
	.reply {
		height: 60px;
	} 
	.reply-send {
		padding: 5px 0 !important; 
	} 
	.reply-emojis {
		padding: 5px 0 !important; 
	} 
	.reply-main {
		padding: 2px 2px!important;
	}
	.reply-main textarea {
		height: 70px;
		padding: 8px !important;
		font-size: 14px;
	}
	.reply-recording {
		padding: 5px 0!important;
	} 
	.message-loaders {
		margin: 0!important;
		padding: 0!important;
		height: auto;
		width: 100%
	}
	.loaders {
		font-size: 12px;
		text-align: center;
		padding: 0!important;
		cursor: pointer;
	}
	.loader {
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top: 5px solid #3498db;
		width: 32px;
		height: 32px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		margin-left: 45%;
		margin-right: 45%
	}
	.col-form-loader {
		color: #DDD;
		margin-top: 2px;
		font-weight: 400!important;
	}
	@-webkit-keyframes spin {
		0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
	}@keyframes spin {
		0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
		
	/* logo */	
	.chat-front-form {
		margin-top: -2% !important;
	} 
	.chat-front-logo {
		margin-top: -10px !important;
		border:0px solid #000;  
	}
	.chat-front-logo img {
		margin-right: 1%;
		height:124px;
	}
	
	.chat-front-logo-tlg{
		margin-top:-2px!important;
		border:0 solid #000;
	}
	.chat-front-logo-tlg img{ }
	.scroll-container{ 
		border-left: 0px solid #eee; 
		border-right: 0px solid #eee; 
		border-bottom: 0px solid #eee; 
		margin: 10px 0px 0px 0px;
		padding-bottom: 5px;
	}
}
