@media screen and (max-width: 700px) {
	.fa-2x {
		font-size: 2em !important; 
	}
	.heading-name-meta {
		padding: 0px !important;
	}
	.heading{
		height: 45px !important;
	}
	.reply-main textarea {
		border:1px solid #eee;
	}
	.reply{
		border-top:1px solid #eee;
	} 
	.reply-send i {
		font-size: 1.5em !important;
	}
	.form-login-container{
		margin-top:10% !important;
	}
	.message-time {
		font-size:11px !important; 
		margin-top:12px !important;
	}
	.form-chat-login button{ 
		border-radius:25px; 
		padding:10px;
		width:100%;
		margin-top: 22px;
	}
	.form-chat-login label{
		font-size:14px;
	}
	.form-chat-login input, .form-chat-login input {
		border-radius:25px !important; 
		text-align:center;padding-top:20px; 
		padding-bottom:20px;margin-top:10px;
	} 
	.scroll-container{  
		border-left:0px solid #eee;
		border-right:0px solid #eee;
		border-bottom:0px solid #eee;
		margin: 5px 0px 0px 0px !important;
		padding-bottom: 5px !important;
	}
	
}