.chatboxwhatsapp {
	position: fixed;
	position:expression("absolute");
	/*width: 300px;*/
	
	display:none;
}
.chat-cursor-move{
	cursor:move;
}
.chat-icon-you{ 
	font-size:22px !important;
	color:#E12043;
}
.chat-user-timer{ 
	font-size:10px !important;
}
.chat-icon-me{ 
	font-size:22px !important;
	color:#5BC3CB;
}

.chatboxheadwhatsapp {
	background-color: #5BC3CB;
	padding:10px 7px 10px 0px;
	color: #ffffff;
	font-size:14px;
	box-shadow: 0 1px 2px 0 rgba(230, 216, 216, 0.06), 0 2px 20px 0 rgba(26, 22, 22, 0.2);
	
	}
.button-chat-whatsapp:hover{
	background-color:#6ACF96;
}
.text-no-whatsapp{
	text-align:center;
}
.button-chat-whatsapp{
	cursor:pointer;
	border-radius:3px;
	text-align:center;
	background-color:#2DA862;
	color:#FFFFFF;
	border:1px solid #6DB939;
	width:99%;
}	
.chatboxblink {
	/*background-color: #176689;*/
	/*background-image:url(../gambar/head.png);*/
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontentwhatsapp {
	font-family: Sans-serif;
	font-size: 12px !important;
	color: #333333;
	height:300px;
	
	/*;
	width:209px;
	*/
	
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #bfceb9;
	border-right:1px solid #bfceb9;
	border-bottom:1px solid #bfceb9;
	background-color: #ffffff;
	
	/*background-image: url(../gambar/whatsapp1.png); */
	 opacity:1.0;
	box-shadow: 0 1px 2px 0 rgba(230, 216, 216, 0.06), 0 2px 20px 0 rgba(26, 22, 22, 0.2);
	line-height: 1.3em;
	
}

.chatboxdownload {
	margin-left: 5px;
	background-color: #977E7E; 
	padding: 2px 3px 2px 3px;
	border-radius: 50%; 
}
.chatboxdownload i {
	color:#FFFFFF !important;
} 
.chatboxinputwhatsapp {
	/* background-image: url(../gambar/whatsapp1.png); */
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #bfceb9;
	border-right:1px solid #bfceb9;
	border-bottom:1px solid #bfceb9;
	box-shadow: 0 1px 2px 0 rgba(230, 216, 216, 0.06), 0 2px 20px 0 rgba(26, 22, 22, 0.2);
}

.chatboxtextareawhatsapp { 
	width:99%;
	height: 40px !important;
	padding:3px 0pt 3px 3px;
	border: 1px solid #bfceb9;
	margin: 1px;
	border-radius:3px;
	overflow:hidden;
}

.chatboxtextareaselected {
	/*border: 2px solid #f99d39;*/
	border: 2px solid #09F;
	margin:0;
}

.chatboxmessagewhatsapp {
	border-bottom: 1px dashed rgb(221, 221, 221);
	margin: 8px 0px;
	padding: 6px 2px 6px 4px;
	border-radius: 0px;
	/* background-color : #FFFFFF; */
}

.chat-box-incon-left{
	color:#FFFFFF;
	text-align: center;
	font-size: 16px;
}
.chat-box-incon-right{
	color:#FFFFFF;
	text-align: center;
	font-size: 16px;
}

.chat-box-incon-left > .fa-circle{ 
color:#5BC3CB; !important;
}
.chat-box-incon-right > .fa-circle{ 
	color:#DD8585 !important;
}

.chat-box-incon {
	color:#FFFFFF;
	text-align: center;
	font-size: 16px;
}
.chat-box-incon > .fa-circle{
	color:#2DA862 !important;
}


.chatboxwhatsappinfo {
	/*margin-left:-1em; */
	font-size:11px;
	color:#666666;

}
 
.chatboxmessagewhatsappfrom {
	/*margin-left:-1em; */ 
	font-weight: bold;
}

.chatboxmessagewhatsappcontent {
	background-color: #e8e4e447;
    border-radius: 4px;
    padding: 10px 8px 10px 8px;
    box-shadow: 0 1px 2px 0 rgba(230, 216, 216, 0.06), 0 2px 20px 0 rgba(193, 185, 185, 0.2);
} 

.chatwhatsappboxoptions {
	float: right;
}

 
.chatclearwhatsapp{
	display:none !important;
	float: left;
    border-radius: 3px;
    margin: 4px 0px 4px 7px;
    background-color: #2DA862;
    padding: 2px 5px;
    color: #FFF;
    border: 1px solid #BCADAD !important;

}

.chatclearwhatsapp a{text-decoration:  none;
	color:#FFF !important;
}

.chatwhatsappboxoptions a {
	text-decoration: none;
	/* color: white; */
	color: #effafb;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatwhatsappboxtitle {
	float: left;
	margin-left:15px;
}
.button-send-whatsapp:hover{ color: red; cursor:pointer !important;}
.button-send-whatsapp {
    border: 0px solid #000;
	background-color:#ffffff;
	margin-left: 1px;
    /* width: 10px; */
    /* padding: 10px 5px 10px 3px; */
}	

.button-round {
	font-size:12px;
	cursor:pointer;
	border: 1px solid #ddd;	
	border-radius:100px;
	background-color: #5bc3cb;
	padding:5px 5px 5px 5px;
	width:25px; 
	height:25px;
	color:#fff;
}

/* chatboxtoolbarwhatsapp */
.chatboxtoolbarwhatsapp { 
	height:90%;
	padding:2px 2px 2px 5px;
	background-color: #ffffff;
	border-left:1px solid #bfceb9;
	border-right:1px solid #bfceb9;
	border-bottom:1px solid #bfceb9; 
}
.chatboxtoolbarwhatsapp table.chatboxtoolbarcontainer { 
	width:96%;
}  
.chatboxtoolbarwhatsapp table.chatboxtoolbarcontainer .chatboxtoolbarbuttonfiles { 
	border:1px solid #ddd;
	border-radius:3px;  
}  
.chatboxtoolbarwhatsapp table.chatboxtoolbarcontainer td.chatboxtoolbarbuttonclose { 
	font-size:12px;
	vertical-align:middle;  
	text-align:center;
	width:22px;
} 

.chatboxtoolbarwhatsapp table.chatboxtoolbarcontainer .chatboxtoolbarbuttonfiles{
	padding:5px 5px 5px 5px;
}




/* =============================================================== */
/* Our Message */
/* =============================================================== */
.ourMessage{ 
	border:1px solid #e0fcff;
	border-top-left-radius:15px;  
	/* border-top-right-radius:15px;  */
	border-bottom-right-radius:15px;  
	margin-top:15px;
	padding: 10px 8px 5px 8px;
	background-color: #fdfdfd; 
}
.ourMessage td.chatboxmessagewhatsappfrom {
	text-align:left;
	padding-left:5px;
}
.ourMessage td.chatboxmessagewhatsappicon{
	width:10%;
	padding-right:2px;
	padding-left:2px;
	text-align:left; 
}
.ourMessage td.chatboxmessagewhatsappsent{
	padding-top:4px;
}
.ourMessage td.chatboxmessagewhatsappsent span{
	color: #b3b2b2;
	font-size:10px;
}
.ourMessage td.chatboxmessagewhatsapptext{
	line-height:18px;
	text-align:justify;
	padding-top:5px;
	padding-left:2px;
	padding-right:2px;
}
.ourMessage .chatboxmessagewhatsappdoc{
	padding:5px;
	background-color: #fbfbfb;
	border:1px solid #f2efef;
	border-radius:5px;  
	margin: 5px 5px 10px 5px;
} 
.ourMessage table.chatboxmessagewhatsappdoccover {
	color: #879995;
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdoctype {
	width:5%;
	font-size:16px;
	vertical-align:top;
	font-weight:bold;
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocname { 
	word-break: break-all;
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize {
	font-size:10px; 
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocdotted { 
	font-weight: bold;
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px;
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocsparator { 
	color: #e3e4e6;	
    margin-left: 3px;
    margin-right: 3px;
}
.ourMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocdownload {  
    margin-left: 0px;
    margin-right: 3px;
}

/* =============================================================== */
/* receive message box */
/* =============================================================== */
.theirMessage{
	border:1px solid #e0fcff;
	/* border-top-left-radius:15px;  */
	border-top-right-radius:15px;  
	border-bottom-left-radius:15px;    
	margin-top:15px;
	padding: 10px 8px 8px 5px;  
	background-color: #ffffff; 
}
.theirMessage td.chatboxmessagewhatsappfrom {
	text-align:right;
	padding-right:5px;
} 
.theirMessage td.chatboxmessagewhatsappicon{
	width:10%;
	padding-right:2px;
	padding-left:2px;
	text-align:right; 
}
.theirMessage td.chatboxmessagewhatsappsent{
	padding-top:4px;
	text-align:right;
}
.theirMessage td.chatboxmessagewhatsappsent span{
	color: #b3b2b2;
	font-size:10px;
}
.theirMessage td.chatboxmessagewhatsapptext{
	text-align:justify;
	padding-top:5px;
	padding-left:2px;
	padding-right:2px;
} 
.theirMessage .chatboxmessagewhatsappdoc{
	padding:5px; 
	border:1px solid #f2efef;
	margin: 5px 5px 10px 5px;
	border-radius:10px;  
} 
.theirMessage table.chatboxmessagewhatsappdoccover {
	color: #879995;
}
.theirMessage table.chatboxmessagewhatsappdoccover 
td.chatboxmessagewhatsappdoctype {
	width:5%;
	font-size:16px;
	vertical-align:top;
	font-weight:bold;
}
.theirMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocname { 
	word-break: break-all;
}
.theirMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize {	
	font-size:10px; 
}
.theirMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocdotted { 
	font-weight: bold;
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px;
}
.theirMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocsparator { 
	color: #e3e4e6;	
    margin-left: 3px;
    margin-right: 3px;
}
.theirMessage table.chatboxmessagewhatsappdoccover td.chatboxmessagewhatsappdocsize 
span.chatboxmessagewhatsappdocdownload {  
    margin-left: 0px;
    margin-right: 3px;
}