/* on toolbars icons */
.ui-widget-awesome-toolbar{ font-size:11px;margin:-4px 0px 0px 1px; }	
.ui-widget-awesome-text{ font-size:11px;margin:auto;}	
.fa-circle { color:#5BC3CB;}
/* on legend navigation stack */
.ui-widget-awesome-legend{ font-size:11px;margin:-4px 0px 0px -10px; }	
.ui-widget-awesome-context span{ margin-left:-10px; font-weight:bold; }
.ui-widget-button-link  {margin-top: -5px;}
.ui-widget-button-link span{ font-size:11px;margin:-10px 0px 0px 0px; display:block;}
/* on screen cupertino **/
.ui-customize-content-tabs { background-color:#FAFCFE; overflow :auto; }
.widget-list-button {  padding:10px 2px 5px 2px;margin-top:1px;border-top:1px solid #dddddd; }
.widget-list-button a { color:#5BC3CB; text-decoration:none;}
.widget-list-button a :hover{ color:red; text-decoration:none;}
