/* Dialog
 customize - dialog themes kawani layout 
 author : omens 
----------------------------------*/
.ui-dialog { position: relative; padding: 0px; width: 300px;  border:0px solid #fff !important;
	-moz-box-shadow:0 0 64px #000; 
	-webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;
}
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative; color:#fff !important;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }

/*
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
*/
.ui-dialog .ui-dialog-content { 
	border: 0; padding: .5em 1em; background: none; 
	overflow: hidden; 
	zoom: 1; 
}


.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { 
	float: right; 
	margin: 0.5em 0em 0.5em 0px; 
	cursor: pointer; 
	padding: 3px 6px 3px 6px; 
	line-height: 1.4em; 
	width:auto; 
	
	overflow:visible; 
	background-color:transparent;
	border:1px solid #BDD2F8;
	border-radius:3px; 
}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }


.ui-dialog .ui-dialog-content p.ui-window-text-dialog {
	line-height:none !important;
	text-align:center !important;
}

.first-button {
	margin-left:4px !important;
}
.last-button {
	margin-right:0px !important;
	
}

/*
 customize kawani data -- 
*/
.ui-dialog-kawani{ background:#5BC3CB !important; }
.ui-dialog-icon-kawani:hover{ margin:auto; padding:auto; color:#CBFB0D !important;  }
.ui-dialog-icon-kawani:focus{ margin:auto; padding:auto; color:#CBFB0D !important;  }
.ui-dialog-icon-kawani { color:#fff !important;  }
.ui-dialog-content-kawani{ border:0px solid #FCF9F9 !important; }