/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; cursor:pointer; }
.ui-slider .ui-slider-handle { 
	position: absolute; z-index: 2; width: 10px; height: 1.2em; cursor: pointer; 
	background-color : #EEF5FC;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: 5px; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -1px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }