/* Tabs
----------------------------------*/
/*
.ui-tabs { padding: .2em; zoom: 1; border-radius:3px;}
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .1em .1em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; border-top-left-radius:1px; border-top-right-radius:1px;}
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: 4px 8px 4px 4px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

/*
.ui-tabs .ui-tabs-panel { padding: 1em 1em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs-nav .ui-icon{margin-left:2px;display: inline-block;}
*/

/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; border-radius:3px;}
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: 0px; }
.ui-tabs .ui-tabs-nav li { 
	position: relative; float: left; 
	border-bottom-width: 0px solid #fff !important; 
	margin: 3px 4px -1px 3px !important; 
	padding: 2px 3px 2px 3px ; 
	border-top-left-radius:3px; 
	border-top-right-radius:3px;
}
.ui-tabs .ui-tabs-nav li a { 
	float: left; text-decoration: none; padding: 4px 8px 4px 4px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {  
	padding-bottom: 3px; 
	border-bottom: 0px solid #ffffff !important;  
}
	
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a { 
   cursor: text; 
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { 
	padding: 1em 1em; display: block; border-width: 0; background: none; 
}
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs-nav .ui-icon{margin-left:2px;display: inline-block;}

.ui-tabs .ui-tabs-nav li.ui-state-hover {  
	background-color:#FCFCFC !important;
	padding-bottom: 3px;  
	
	border-top: 1px solid #2694E8  !important; 
	border-left: 1px solid #2694E8  !important; 
	border-right: 1px solid #2694E8  !important;  
	border-bottom: 0px solid #2694E8  !important; 
}
	
.ui-tabs .ui-tabs-nav li.ui-state-active{ 
	background-color:#FCFCFC  !important;
	border-bottom: 0px solid #FCFCFC  !important; 
}	
.ui-tabs .ui-tabs-nav li.ui-state-default{
	border-top: 0px solid #ffffff; 
	border-left: 0px solid #ffffff; 
	border-right: 0px solid #ffffff;  
	border-bottom: 0px solid #ffffff; 
}	

.ui-tabs .ui-tabs-nav li.ui-state-selected, .ui-tabs-nav li.ui-state-active{
	border-top: 1px solid #2694E8  !important; 
	border-left: 1px solid #2694E8  !important; 
	border-right: 1px solid #2694E8  !important;  
	border-bottom: 0px solid #ffffff  !important; 
}

.ui-tabs-customize{
	background-color:#FCFCFC !important;
}	

